.wrapper {
  max-width: 450px;
}
.list {
  /* display: flex;
  flex-direction: column; */
  & input {
    font-size: 16px;
    font-family: inherit;
    &:not([type="checkbox"]) {
      width: 100%;
    }
  }
}
.item {
  min-width: 100%;
  height: 28px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  & > div {
    width: 100%;
  }
  & span {
    padding: 2px 2px;
    border: 2px solid transparent;
  }
}
.item b {
  margin-right: 10px;
}
