.app-wrapper {
}

.app-content {
  margin-bottom: 60px;
}

.app-content .container {
  display: flex;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgba(145, 131, 131, 0.5);
}

.sidebar-wrapper {
  flex: 1 1 20%;
  padding: 20px 40px 40px 40px;
  border-right: 1px solid rgba(145, 131, 131, 0.5);
}

.sidebar a.active {
  color: rgb(58, 87, 218);
}

.content-wrapper {
  flex: 1 1 80%;
  padding: 40px;
  position: relative;
}

.people {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greenBtn {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(58 218 74 / 80%);
  box-shadow: 1px 3px 7px 0 #00000080;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.greenBtn:active {
  transform: translateY(3px);
  box-shadow: 0px 0px 0px 0 #00000080;
}

.formSummaryError {
  color: red;
  padding: 0 5px 5px;
}
